@import "../../../src/Common/Styles/Sass/variables";

.projectsBlock {
  background-color: $bgSecondColor;
  padding: 0 15px;

  .projectsContainer {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px;

      @media screen and (max-width: 992px) {
        justify-content: space-around;
      }
    }
  }
}