@import "./src/Common/Styles/Sass/variables";
@import "./src/Common/Styles/Sass/mixins";

.contactsBlock {
  //height: 100vh;
  height: content-box;
  background-color: $bgSecondColor;
}

.contactsContainer {
  flex-direction: row;
}

.titleBlock {
  margin: 0 0 30px;
  @media screen and (max-width: 716px) {
    text-align: center;
  }

  .form {
    max-width: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}


.btn {
    padding: 10px 20px;
}

.form input, .form textarea {
    width: 100%;
}

@media screen and (max-width: 1129px) {
    .form {
        width: 90%;
    }
}
