.hireMeBlock {
    height: 50vh;
    background-color: blanchedalmond;
}
.hireMeContainer {
    border: 1px solid;
}
.hireMeWrapper {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.btn {

}