@import "./src/Common/Styles/Sass/variables.scss";
@import "./src/Common/Styles/Sass/mixins";

.mainBlock {
    height: 100vh;
    background-color: $bgFirstColor;

}

.mainText {
    width: 300px;
    background-color: bisque;
}

.mainPhoto {
    width: 300px;
    height: 400px;
    background-color: bisque;
}