@import "./src/Common/Styles/Sass/variables.scss";
@import "./src/Common/Styles/Sass/mixins";


.mainBlock {
  background-color: $bgFirstColor;

  .mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    //max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    .mainText {
      @include flexColumn();

      h1 {
        @include textForAll($montserrat, 44px, 700, $forIcons);
        text-transform: uppercase;
        margin: 0 0 15px;

        @media screen and (max-width: 992px) {
          font-size: 38px;
        }
        @media screen and (max-width: 940px) {
          font-size: 42px;
        }
        @media screen and (max-width: 716px) {
          font-size: 44px;
          line-height: 50px;
        }
      }

      h5 {
        @include textForAll($montserrat, 16px, 700, $forAccent);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 15px;
      }

      p {
        @include textForAll($poppins, 16px, 400, $paragraphTextColor);
        margin: 0 0 15px;

      }

      .buttonBlock {
        margin: 40px 0 0;
      }

      @media screen and (max-width: 940px) {
        text-align: center;
        align-items: center;
      }

      @media screen and (max-width: 716px) {
        text-align: center;
        align-items: center;
      }
      @media screen and (max-width: 480px) {
        width: 270px;
      }
    }

    .mainPhoto {
      width: 420px;
      height: 750px;
      background-color: $forIcons;
      @media screen and (max-width: 1142px) {
        width: 305px;
        height: 430px;
      }
      @media screen and (max-width: 992px) {
        width: 328px;
        height: 515px;
      }
      @media screen and (max-width: 940px) {
        margin-top: 50px;
        width: 328px;
        height: 585px;
      }
      @media screen and (max-width: 716px) {
        margin-top: 50px;
        width: 420px;
        height: 750px;
      }
      @media screen and (max-width: 480px) {
        width: 270px;
        height: 482px;
      }
    }

    @media screen and (max-width: 940px) {
      justify-content: center;
    }
  }
}