@import "./src/Common/Styles/Sass/variables";
@import "./src/Common/Styles/Sass/mixins";

.titleBlock {
  margin: 0 auto 5px;
  text-transform: uppercase;
  text-align: center;
  h2 {
    @include textForAll($montserrat, 32px, 700, $forIcons);
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
    word-wrap: break-word;
    padding-top: 20px;
  }

  .horizontalLine {
    height: 2px;
    margin: 0 auto;

    .top {
      background-color: $forAccent;
      width: 44px;
      height: 2.5px;
      margin: 0 auto 5px;
    }
  }
}




