
.title {
    /*background-color: beige;*/
    margin-top: 40px;
    position: relative;
}

.title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #12141d;
    margin: 0;

}

.title::before {
    position: absolute;
    content: '';
    /*background: #ff014f;*/
    background: white;
    width: 55px;
    height: 3px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
