@import "./src/Common/Styles/Sass/variables";
@import "./src/Common/Styles/Sass/mixins";

.project {
  &:nth-child(4) {
    @media screen and (max-width: 1065px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  &:nth-child(6) {
    @media screen and (max-width: 780px) {
      margin-top: 50px;
    }
  }

  &:nth-child(3) {
    @media screen and (max-width: 780px) {
      margin-top: 50px;
    }
  }

  &:nth-child(2) {
    @media screen and (max-width: 780px) {
      margin-top: 50px;
    }
  }

  .img {
    @include flex(center);
    height: 350px;
    width: 350px;
    background-size: 150%;
    background-position: center;
    position: relative;
    transition: .4s ease-in-out;

    &:before {
      position: absolute;
      content: '';
      background-color: #ffffff;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: .4s ease-in-out;
      @media screen and (max-width: 716px) {
        opacity: 0.8;
      }
    }

    @media screen and (max-width: 1200px) {
      height: 300px;
      width: 300px;
      transition: .4s ease-in-out;
    }
    @media screen and (max-width: 1100px) {
      height: 310px;
      width: 310px;
      transition: .4s ease-in-out;
    }
    @media screen and (max-width: 780px) {
      height: 420px;
      width: 420px;
      transition: .4s ease-in-out;
    }
    @media screen and (max-width: 480px) {
      height: 270px;
      width: 270px;
      transition: .4s ease-in-out;
    }
    @media screen and (max-width: 360px) {
      height: 230px;
      width: 230px;
      transition: .4s ease-in-out;
    }

    .zoomIcon {
      @include textForAll($awesome, 26px, 900, $buttonTextColor);
      @include icon('\f0c1', 60px, none, #49494959);
      opacity: 0;
      cursor: initial;
      transition: .4s ease-in-out;
      @media screen and (max-width: 716px) {
        opacity: 1;
      }
    }

    .title {
      position: absolute;
      bottom: 0;
      text-align: left;
      left: 30px;
      opacity: 0;
      transition: .3s .1s ease-in-out;
      @media screen and (max-width: 716px) {
        bottom: 40px;
        opacity: 1;
      }

      a {
        @include textForAll($montserrat, 24px, 400, $paragraphTextColor);
        text-decoration: none;
        color: $paragraphTextColor;
      }

      span {
        @include textForAll($montserrat, 14px, 400, $textColor);
        display: block;
      }
    }

    @media screen and (max-width: 716px) {
      background-size: 200%;
    }

    &:hover {
      background-size: 200%;
      transition: background-size .4s ease-in-out;

      .title {
        bottom: 40px;
        opacity: 1;
        transition: .3s .1s ease-in-out;
      }

      .zoomIcon {
        opacity: 1;
        transition: .4s ease-in-out;
      }

      &::before {
        opacity: 0.8;
        transition: .4s ease-in-out;
      }
    }
  }
}








