@import "./src/Common/Styles/Sass/variables.scss";

.mainBlock {
    height: 100vh;
    background-color: $bgSecondColor;
}

.text {
    width: 300px;
    background-color: bisque;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: bisque;
}