@import "../../../Common/Styles/Sass/variables";
@import "../../../Common/Styles/Sass/mixins";

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
  @media screen and (max-width: 540px) {

  }
}

.ul {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  @media screen and (max-width: 565px) {
    flex-direction: column;
    align-items: center;
  }

  li {
    list-style-type: none;
  }

  li a {
    @include textForAll($montserrat, 20px, 700, $textColor);
    letter-spacing: 1.1px;
    opacity: 0.9;
  }
}
