@import "./src/Common/Styles/Sass/variables.scss";
@import "./src/Common/Styles/Sass/mixins";

.footerBlock {
  display: flex;
  height: content-box;
  background-color: $bgSecondColor;
  justify-content: center;
  padding: 40px 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1440px;
}

.titleBlock {

}

.someBlockWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;

  .someBlock {
    a {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}


.allRight {
  display: flex;

  a {
    text-decoration: none;
    @include textForAll($montserrat, 16px, 700, $textColor);
    letter-spacing: 1.1px;
    opacity: 0.9;
  }
}