.project {
    width: 250px;
    background-color: #22272d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.iconProject {
    height: 250px;
    width: 250px;
    background-color: burlywood;
    display: flex;
}

.btn {
    align-self: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: beige;
}

.projectInfo {
    padding: 20px;
}

.projectTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #c4cfde;
}

.projectDescription {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #c4cfde;
    margin-bottom: 22px;
    text-align: left;
}








