@import "./src/Common/Styles/Sass/variables";
@import "./src/Common/Styles/Sass/mixins";

.contactsBlock {
  background-color: $bgFirstColor;

  .contactsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px 0;
    @media screen and (max-width: 1200px) {
      width: 415px;
      justify-content: center;
    }
    @media screen and (max-width: 1082px) {
      width: 305px;
    }
    @media screen and (max-width: 740px) {
      width: 450px;
    }
    @media screen and (max-width: 590px) {
      width: 295px;
    }

    .getTouch {
      padding: 0 15px;
      display: flex;
      justify-content: flex-start;

      .titleBlock {
        margin: 0 30px 30px;
        @media screen and (max-width: 750px) {
          margin: 0 0 0px;
        }

        p {
          @include textForAll($poppins, 14px, 400, $paragraphTextColor);
          line-height: 24px;
          margin: 0 0 15px;
          @media screen and (max-width: 590px) {
            margin: 0 50px 25px;
          }
        }
      }

      .contacts {
        max-width: 360px;
      }

      @media screen and (max-width: 740px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
      @media screen and (max-width: 592px) {
        display: flex;
        align-items: center;
      }
    }

    form {
      //width: 780px;
      @media screen and (max-width: 1200px) {
        width: 616px;
      }
      @media screen and (max-width: 992px) {
        width: 350px;
      }
      @media screen and (max-width: 740px) {
        width: 100%;
      }

      .contactForm {
        margin: 0 auto;
        max-width: 500px;
        padding-top: 60px;
        @include flexColumn();
        @media screen and (max-width: 740px) {
          align-items: center;
          padding-top: 20px;
        }
        @media screen and (max-width: 590px) {
          width: 100%;
        }
        @media screen and (max-width: 398px) {
          width: 200px;
        }

        .nameEmail {
          width: 100%;
          padding: 0 15px;
          @include flex(space-between);
          @media screen and (max-width: 740px) {
            @include flexColumn();
            padding-right: 38px;
          }
          //@media screen and (max-width: 590px) {
          //  padding-right: 24px;
          //}
          //@media screen and (max-width: 398px) {
          //  padding-right: 40px;
          //}

          .name, .email {
            padding: 0 15px;
            //width: 50%;
            //@media screen and (max-width: 740px) {
            //  width: 100%;
            //}

            input {
              @include textForAll($montserrat, 16px, 300, $titleTextColor);
              width: 100%;
              outline: none;
              background-color: transparent;
              line-height: 26px;
              @include border(none, none, $borderLine, none);
              padding: 5px 0;
            }
          }
        }

        .message {
          //padding: 0 30px;
          //width: 100%;

          textarea {
            @include textForAll($montserrat, 16px, 300, $titleTextColor);
            width: 100%;
            outline: none;
            background-color: transparent;
            max-height: 148px;
            margin-top: 25px;
            resize: none;
            border: $borderLine;
            padding: 10px 20px;
            //@media screen and (max-width: 740px) {
            //  width: 100%;
            //  margin-top: 30px;
            //}
            //@media screen and (max-width: 739px) {
            //  width: 90%;
            //}
            //@media screen and (max-width: 398px) {
            //  width: 85%;
            //}
          }
        }

        .button {
          padding: 0 30px;
          margin: 30px 0 0;
        }
      }
    }
  }
}
