@import "./src/Common/Styles/Sass/variables";
@import "./src/Common/Styles/Sass/mixins";

.contactsBlock {
  background-color: $bgFirstColor;
  //height: content-box;

  .contactsContainer {
    @include flex(space-between);
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 100px 0;

    .getTouch {
      padding: 0 15px;
      display: flex;
      justify-content: flex-start;

      .titleBlock {
        margin: 0 0 30px;

        p {
          @include textForAll($poppins, 14px, 400, $paragraphTextColor);
          line-height: 24px;
          margin: 0 0 15px;
        }
      }

      .contacts {
        max-width: 360px;
      }
    }

    form {
      width: 780px;

      .contactForm {
        margin: 0 auto;
        max-width: 500px;
        padding-top: 40px;
        @include flexColumn();

        .nameEmail {
          width: 100%;
          padding: 0 15px;
          @include flex(space-between);

          .name, .email {
            padding: 0 15px;
            width: 50%;

            input {
              @include textForAll($montserrat, 16px, 300, $titleTextColor);
              width: 100%;
              outline: none;
              background-color: transparent;
              line-height: 26px;
              @include border(none, none, $borderLine, none);
              padding: 5px 0;
            }
          }
        }

        .message {
          padding: 0 30px;
          width: 100%;

          textarea {
            @include textForAll($montserrat, 16px, 300, $titleTextColor);
            width: 100%;
            outline: none;
            background-color: transparent;
            max-height: 148px;
            margin-top: 25px;
            resize: none;
            border: $borderLine;
            padding: 10px 20px;
          }
        }

        .button {
          padding: 0 30px;
          margin: 30px 0 0;
        }
      }
    }
  }
}
