@import "./src/Common/Styles/Sass/variables";
@import "./src/Common/Styles/Sass/mixins";

.aboutBlock {
  background-color: $bgSecondColor;
  padding: 60px 0;
  margin: 0 auto;

  .mainTextAndStatContainer {
    display: flex;
    justify-content: center;

    .aboutContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .mainText {
        @include flexColumn();
        position: relative;
        width: 50%;

        h3 {
          @include textForAll($montserrat, 22px, 700, $forIcons);
          margin: 0 0 15px;
        }

        p {
          @include textForAll($montserrat, 16px, 400, $paragraphTextColor);
          line-height: 28px;
          text-align: justify;
          width: 400px;
          margin: 0 0 15px;
          @media screen and (max-width: 1105px) {
            width: 305px;
          }
          @media screen and (max-width: 870px) {
            width: 450px;
            text-align: center;
          }
          @media screen and (max-width: 700px) {
            width: 330px;
          }
          @media screen and (max-width: 480px) {
            width: 270px;
          }
        }

        .buttonBlock {
          margin: 30px 0 0;
        }

        @media screen and (max-width: 870px) {
          align-items: center;
          width: 100%;
        }
      }

      .right {
        @include flex(center);
        width: 50%;
        .stat {
          height: 200px;
          width: 500px;
          padding: 0 0 0 50px;
          @include flexColumn();
          align-items: end;
          @media screen and (max-width: 870px) {
            width: 480px;
            padding: 0 15px;
            margin-top: 50px;
            transition: .4s;
          }
          @media screen and (max-width: 700px) {
            width: 360px;
          }
          @media screen and (max-width: 480px) {
            width: 320px;
            transition: .4s;
          }
        }
        @media screen and (max-width: 870px) {
          width: 100%;
        }
      }

      @media screen and (max-width: 992px) {
        justify-content: center;
      }
    }
  }
}