.projectsBlock {
    height: 100vh;
    background-color: #212529;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    /*background-color: beige;*/
    margin-top: 40px;
    position: relative;
}

.title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin: 0;

}

.title::before {
    position: absolute;
    content: '';
    background: #ff014f;
    width: 55px;
    height: 3px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.projects {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 50px;
    align-items: flex-start;
}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}
