@import "../../src/Common/Styles/Sass/variables";

.projectsBlock {
  height: 100vh;
  background-color: $bgSecondColor;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      border: 1px solid;
      width: 1350px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 150px;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}

